body{
    background-color: white;
    
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    
    

}

.button:hover{
   background-color: greenyellow;
   color:white;
}

#main-header{
    background-color: coral;
    color:black;
    
    margin: 0;
    padding: 0;
    font-style: italic; 
}
#main-header h1{
    font-size:50px;
    color: black;
}
#main-header p{
    font-size: 30px;
    color: brown;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#navbar{
    background-color:white;
    color: green;
    padding: 0;
    margin: 0;
    

    

}
#navbar ul{
    padding: 0%;
    list-style: none;
    min-height: 50px;
    margin: 0;
    
    

}
#navbar li{
    display: inline;
    padding: 0;
    margin: 0;
    
    
}
#navbar a{
    color: blue;
    text-decoration: none;
    font-size: 30px;
    padding-right: 15px;
    text-align: right;
    
   

}
#showcase{
    background-image:url('..//4.png'); 
    background-repeat: no-repeat;
    
     background-position: center right ;

    
    min-height: 450px;
    margin-bottom: 30px;
    padding-top: 0;
    margin-top:0;  
}
#main{
    float: left;
    width: 70%;
    padding: 0 10px;
    box-sizing: border-box;
    color: brown;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
#main h1{
    color:red;

}
#sidebar{
float:right;
    width:30%;
    background: grey;
    color: white;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom:0;
    padding-bottom: 0;
}
#main-footer{
    
   background: grey;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px ;
    width: 100%;
    margin-top: 320px;
    

    
   
}
img{
    width: 80%;
    margin-right: 0;
    border-right: 0;
    
    padding-right: 0;
    border-radius: 15px;
    
}
#main-footer h3{
    color: rgb(203, 16, 16);
}